<div *ngIf="games" class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">
        All Games
      </h2>
      <ol class="breadcrumb">
        <li>
          <a href="Javascript:void(0)" routerLink="/dashboard/blankpage"><i class="fa fa-fw fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="active">
          <i class="fa fa-profile"></i> All Games
        </li>
      </ol>
    </div>
  </div>

  <div class="col-lg-8">

    <div class="row jumbotron card card-block" *ngFor="let game of games">

      <div class="row">

        <h3><a [routerLink]="['/dashboard/games/view', game.id]">{{game.name}}</a></h3>

        <hr/>

        <div class="col-lg-6 list-project-desc">
          <img  *ngIf="game.avatar" src="{{game.avatar}}" alt="Card image cap" />
          <p>{{game.description| limitTo: 450}}</p>
        </div>

        <div class="col-lg-6 multi-columns">

          <p><i class="fa fa-money"></i> Credits To Play: {{game.buyCredits}} <i class="fa fa-euro"></i></p>
          <p><i class="fa fa-money"></i> Credits To Win: {{game.winCredits}} <i class="fa fa-euro"></i></p>

        </div>

      </div>

    </div>

    <span *ngIf="games && games.length == 0">

      <div class="alert alert-info">
        I am sorry. No games for you here.
      </div>

	  </span>

  </div>

</div>
