<div class="container-fluid">

  <div class="row">
    <h2 class="page-header">
      Deposit
    </h2>
  </div>

  <!--routing-path-->
  <div class="col-lg-5">
    <ol class="breadcrumb">
      <li class="active">
        <a href="Javascript:void(0)" routerLink="/dashboard/blankpage"><i class="fa fa-fw fa-home" aria-hidden="true"></i> Home</a>
      </li>
      <li class="active">
        <a href="Javascript:void(0)" [routerLink]="['/dashboard/users/view',id]"><i class="fa fa-fw fa-user" aria-hidden="true"></i> My Profile</a>
      </li>
      <li class="active">
        <a href="Javascript:void(0)" [routerLink]="['/dashboard/wallet/view',id]"><i class="fa fa-fw fa-user" aria-hidden="true"></i> My Wallet</a>
      </li>
      <li class="active">
        <i class="fa fa-edit"></i> Deposit
      </li>
    </ol>
  </div>



</div>
