<div *ngIf="wonedGames && wonedGames.length > 0" class="chat-panel card card-default">
  <div class="card-header">
    <i class="fa fa-comments fa-fw"></i>
    Last 10 wins
  </div>
  <!-- /.panel-heading -->
  <div class="card-block">
    <ul class="chat">
      <li *ngFor="let game of wonGames;">

        <div class="chat-body clearfix">
          <div class="header">
            <strong class="primary-font">
              <a >
                {{game.username}}
              </a>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a>
                {{game.gamename}}
              </a>
            </strong>
            <small class="pull-right text-muted">
              <i class="fa fa-clock-o fa-fw"></i> {{game.dateTime}}
            </small>
          </div>
          <p>
            Just won: {{game.creditsWon}}  <i class="fa fa-euro"></i>
          </p>
        </div>

      </li>
    </ul>
  </div>
</div>
